<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myQuestionLabel">Create or edit a Question</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!question.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="question.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_section">Section</label>
            <input type="text" class="form-control" name="section" id="field_section"
                [(ngModel)]="question.section" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="question.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_optionA">Option A</label>
            <input type="text" class="form-control" name="optionA" id="field_optionA"
                [(ngModel)]="question.optionA" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_optionB">Option B</label>
            <input type="text" class="form-control" name="optionB" id="field_optionB"
                [(ngModel)]="question.optionB" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_optionC">Option C</label>
            <input type="text" class="form-control" name="optionC" id="field_optionC"
                [(ngModel)]="question.optionC" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_optionD">Option D</label>
            <input type="text" class="form-control" name="optionD" id="field_optionD"
                [(ngModel)]="question.optionD" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_answer">Answer</label>
            <input type="text" class="form-control" name="answer" id="field_answer"
                [(ngModel)]="question.answer" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_marks">Marks</label>
            <input type="text" class="form-control" name="marks" id="field_marks"
                [(ngModel)]="question.marks" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                [(ngModel)]="question.status" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_complexity">Complexity</label>
            <input type="text" class="form-control" name="complexity" id="field_complexity"
                [(ngModel)]="question.complexity" />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_quiz">Quiz</label>
            <select class="form-control" id="field_quiz" name="quiz" [(ngModel)]="question.quiz" >
                <option [ngValue]="null"></option>
                <option [ngValue]="quizOption.id === question.quiz?.id ? question.quiz : quizOption" *ngFor="let quizOption of quizzes; trackBy: trackQuizById">{{quizOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
